@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

.container {
  position: relative;
  .pm-window {
    height: 30vh;
    width: 50vw;
    position: absolute;
    z-index: 99;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    align-items: center;
    .pm {
      height: 100%;
      width: 95%;
      background-color: rgba(119, 119, 119, 0.8);
      border-radius: 0px 10px 10px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .pm-box {
        width: 30%;
        background-color: red;
        .pm-type {
          height: 30%;
          background-color: wheat;
          margin-bottom: 10%;
        }

        .pm-circle {
          height: 60%;
          border-radius: 50%;
          background-color: green;
        }
      }
    }

    .circle-btn {
      height: 40%;
      width: 5%;
      background-color: rgba(119, 119, 119, 0.7);
      border-radius: 0px 15px 15px 0px;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: rgba($color: #1183d6, $alpha: 0.7);
        animation: 500ms ease infinite jump;
      }

      .circle-bar {
        width: 5px;
        height: 5px;
        background-color: white;
        border-radius: 50%;
      }
    }

    .circle-btn.right {
      animation: 1.1s forwards jumpShow;
    }
  }

  .chart-window {
    height: 90vh;
    width: 90vw;
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translate(-10%);
    .chars {
      height: 100%;
      width: 95%;
      background-color: rgba(119, 119, 119, 0.8);
      border-radius: 0px 10px 10px 0px;
    }
    .arrow-btn {
      height: 30%;
      width: 5%;
      background-color: rgba(119, 119, 119, 0.7);
      border-radius: 0px 15px 15px 0px;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: rgba($color: #1183d6, $alpha: 0.7);
        animation: 500ms ease infinite jump;
      }

      .stick1,
      .stick2,
      .stick3 {
        width: 7%;
        height: 15%;
        background-color: white;
        transition: 0.4s;
      }

      .stick1.to-arrow {
        transform: translate(8px, 0px) rotate(45deg);
      }

      .stick2.to-arrow {
        opacity: 0;
      }

      .stick3.to-arrow {
        transform: translate(-8px, 0px) rotate(-45deg);
      }
    }

    .arrow-btn.right {
      animation: 1.1s forwards jumpShow;
    }
  }

  .pm-window.show {
    animation: show 1s forwards;
  }

  .pm-window.hide {
    animation: hide 1s forwards;
  }

  .chart-window.show {
    animation: show 1s forwards;
  }

  .chart-window.hide {
    animation: hide 1s forwards;
  }

  width: 100vw;
  height: 100vh;
  background-image: url("night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template: 200px 1fr 200px / repeat(2, 1fr);
  .form-container {
    position: absolute;
    top: 5%;
    right: 5%;
    form {
      color: #fff;
      display: flex;
      padding: 2px;
      border: 1px solid grey;
      border-radius: 5px;

      input[type="search"] {
        border: none;
        background: transparent;
        margin: 0;
        padding: 7px 8px;
        font-size: 20px;
        font-weight: bold;
        color: inherit;
        border: 1px solid transparent;
        border-radius: inherit;
      }
      input[type="search"]::placeholder {
        color: #fff;
        opacity: 0.6;
      }

      button[type="submit"] {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
          no-repeat center;
        cursor: pointer;
        opacity: 0.7;
        background-color: white;
      }

      button[type="submit"]:hover {
        opacity: 1;
      }
      button[type="submit"]:focus,
      input[type="search"]:focus {
        box-shadow: 0 0 3px 0 #1183d6;
        border-color: #1183d6;
        outline: none;
      }
    }
    .error {
      padding: 5px;
      font-size: 1.3rem;
      color: red;
    }
  }
  .info {
    width: 60%;
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;

    .info-right {
      grid-area: 1/1/2/2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > * {
        color: white;
        font-size: 10rem;
        margin-bottom: 10px;
      }

      .city-flag {
        display: flex;
        flex-direction: row;
        align-items: center;
        .city {
          font-size: 5rem;
        }
        .flag {
          margin-left: 1.5rem;
          img {
            width: 70px;
          }
        }
      }
      .type {
        font-size: 3rem;
      }
      .hour {
        font-size: 1.5rem;
      }
      .temp {
        font-size: 6rem;
      }
    }
    .info-left {
      grid-area: 1/2/2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      .add-info {
        color: white;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
      }
      .add-info > * {
        font-size: 3rem;
      }
    }
  }
  .face-in {
    animation: face-in 2s;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    .info {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .info {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    .info {
      width: 70%;
      .info-right {
        .type {
          font-size: 2rem;
        }
        .city-flag {
          .city {
            font-size: 3rem;
          }
          .flag {
            img {
              width: 50px;
            }
          }
        }
        .temp {
          font-size: 4rem;
        }
      }
      .info-left {
        .add-info > * {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 670px) {
  .container {
    .info {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template: 130px 1fr / 1fr;
    .info {
      display: flex;
      flex-direction: column;
      width: 80%;
      .info-right {
        margin-bottom: 40px;
      }
    }
  }
}

@keyframes face-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jump {
  0% {
    transform: translate(-10%);
  }
  50% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-10%);
  }
}

@keyframes jumpShow {
  0% {
    transform: translate(-10%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes show {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes hide {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-95%);
  }
}
